
.container-fluid{
    margin-left: 20px;
    
}
.navbar2{
    margin-right: 20px;
   
}
.nav-item{
    padding-left: 10px;
}
.navbarall{
    background-color: #a0a0a0;
}
/* .nav-link{
    color:rgb(105, 30, 174) !important;
    
    
} */
.navbar-brand{
    color:rgb(105, 30, 174) ; 
}
body {
    font-family: 'Times New Roman', Times, serif; /* Tüm sayfa için */
}
.navbar-dark .navbar-brand {
    color:rgb(105, 30, 174)  /* Varsayılan renk yeşil */
}

.navbar-dark .navbar-brand:hover {
    color: #2e0849; /* Hover durumu kırmızı */
}

.nav-item{
    border: 5px;
    color:rgb(105, 30, 174) ;
}
.ilk{
    background-color: aqua;
}
.hikaye{
    border-radius: 2px;
}
.hikaye2{
    border-radius: 2px;
}
.carousel{
    margin-top: 60px;
}
.display-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    background: #a0a0a0;
    
}
.box-model-example{
    border:3px solid rgb(105, 30, 174);
    padding: 20px;
    margin: 10px;
   background:  #a0a0a0;
}
.inner-box{
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
    border: 2px solid rgb(38, 35, 28);
    
    
    
}
.grid-item {
    margin: 10px; 
    padding: 10px; 
    box-sizing: border-box; /* Padding ile genişlik hesaplamasını doğru yapar */
    background-color:  #a0a0a0; /* Arka plan rengi (isteğe bağlı) */
    border: 3px solid rgb(105, 30, 174); /* İnce bir çerçeve (isteğe bağlı) */
    display: flex;
    gap: 10px; 
   
  }
.card img {
    max-width: 100%;
    max-height: 200px; /* Yüksekliği sınırlayarak orantıyı korur */
    width: auto;
    height: auto;}

/*.card{
    width: 250px;
   max-height: 750px;
    flex: 1; /* Kartlar eşit genişlikte olur */
     /* Kart genişliği
}  */
.inner-box .container {
    padding: 0; /* Kenar boşluklarını sıfırla */
    margin: 0; /* Varsayılan margin'i sıfırla */
  }
  .btn{
    background-color:rgb(105, 30, 174)  ;
    color:black;
  }

  body{
    background: #a0a0a0;
  }
  .btn:hover {
    background-color:#2e0849;  /* Arka plan rengini belirle */
    color: #ffffff;          /* Yazı rengini belirle */
    transition: background-color 0.3s, color 0.3s; /* Geçiş animasyonu */
  }
  
  
 